<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				ตั้งค่าระบบบริหารทรัพยากรบุคคล
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					/
				</li>
				<li class="m-nav__item">
					<a routerLink="/setup" class="m-nav__link">
						<span class="m-nav__link-text">
							ตั้งค่าเริ่มต้น
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					/
				</li>
				<li class="m-nav__item">
					<span class="m-nav__link-text">
						HR
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__body">
			<ul class="nav nav-tabs  m-tabs-line m-tabs-line--success" role="tablist">
				<li class="nav-item m-tabs__item">
					<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_6_1" role="tab">
						บุคลากร
					</a>
				</li>
				<li class="nav-item m-tabs__item">
					<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_2" role="tab">
						สวัสดิการ
					</a>
				</li>
				<li class="nav-item m-tabs__item">
					<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_3" role="tab">
						การลา
					</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="m_tabs_6_1" role="tabpanel">
					<div class="row mt-3">
						<div class="col-md-2 text-center">
							<a routerLink="personnel/personneltype">
								<i class="m-nav-grid__icon flaticon-file"></i>
								<br>ประเภทพนักงาน</a>
						</div>
						<div class="col-md-2 text-center">
							<a routerLink="personnel/personnelgroup">
								<i class="m-nav-grid__icon flaticon-file"></i>
								<br>กลุ่มพนักงาน</a>
						</div>
						<div class="col-md-2 text-center">
							<a routerLink="personnel/personnellevel">
								<i class="m-nav-grid__icon flaticon-file"></i>
								<br>ระดับพนักงาน</a>
						</div>
						<div class="col-md-2 text-center"></div>
						<div class="col-md-2 text-center"></div>
						<div class="col-md-2 text-center"></div>
					</div>
				</div>
				<div class="tab-pane" id="m_tabs_6_2" role="tabpanel">
					<div class="row mt-3">
						<div class="col-md-2 text-center">
							<a routerLink="welfare/welfaretype">
								<i class="m-nav-grid__icon flaticon-file"></i>
								<br>ประเภทสวัสดิการ</a>
						</div>
						<div class="col-md-2 text-center">
							<a routerLink="welfare/loseoforgans">
								<i class="m-nav-grid__icon flaticon-file"></i>
								<br>ประเภทการสูญเสียอวัยวะ</a>
						</div>
						<div class="col-md-2 text-center">
							<a routerLink="welfare/welfare">
								<i class="m-nav-grid__icon flaticon-file"></i>
								<br>สวัสดิการ</a>
						</div>
						<div class="col-md-2 text-center">
							<a routerLink="welfare/membertype">
								<i class="m-nav-grid__icon flaticon-file"></i>
								<br>ประเภทสมาชิก</a>
						</div>
						<div class="col-md-2 text-center"></div>
						<div class="col-md-2 text-center"></div>
					</div>
				</div>
				<div class="tab-pane" id="m_tabs_6_3" role="tabpanel">
						<div class="row mt-3">
								<div class="col-md-2 text-center">
									<a routerLink="leave/holiday">
										<i class="m-nav-grid__icon flaticon-file"></i>
										<br>ปฏิทินวันหยุด</a>
								</div>
						<div class="col-md-2 text-center">
							<a routerLink="leave/leavetype">
								<i class="m-nav-grid__icon flaticon-file"></i>
								<br>ประเภทการลา</a>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>

</div>