<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				ตั้งค่าระบบคลังสินค้า
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					/
				</li>
				<li class="m-nav__item">
					<a routerLink="/setup" class="m-nav__link">
						<span class="m-nav__link-text">
							ตั้งค่าเริ่มต้น
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					/
				</li>
				<li class="m-nav__item">
					<span class="m-nav__link-text">
						Inventory
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__body">
			<div class="tab-content">
				<div class="row mt-3">
					<div class="col-md-2 text-center">
						<a routerLink="unit">
							<i class="m-nav-grid__icon flaticon-file"></i>
							<br>หน่วยนับสินค้า</a>
					</div>
					<div class="col-md-2 text-center">
						<a routerLink="productcategory">
							<i class="m-nav-grid__icon flaticon-file"></i>
							<br>หมวดหมู่สินค้า</a>
					</div>
					<div class="col-md-2 text-center">
						<a routerLink="productmodel">
							<i class="m-nav-grid__icon flaticon-file"></i>
							<br>รุ่นของสินค้า</a>
					</div>
					<div class="col-md-2 text-center">
						<a routerLink="feature">
							<i class="m-nav-grid__icon flaticon-file"></i>
							<br>คุณลักษณะของสินค้า</a>
					</div>
					<div class="col-md-2 text-center">
						<a routerLink="storage">
							<i class="m-nav-grid__icon flaticon-file"></i>
							<br>รูปแบบตำแหน่งจัดเก็บ</a>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-2 text-center">
						<a routerLink="stock">
							<i class="m-nav-grid__icon flaticon-file"></i>
							<br>คลังสินค้า</a>
					</div>
				</div>
			</div>


		</div>
	</div>

</div>