<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				ระบบคลังสินค้า
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					/
				</li>
				<li class="m-nav__item">
					<span class="m-nav__link-text">
						ระบบคลังสินค้า
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__body">
			<div class="tab-content">
				<div class="tab-pane active" id="m_tabs_6_1" role="tabpanel">
					<div class="row mt-3">
						<div class="col-md-2 text-center">
							<a routerLink="/inventory/product">
								<i class="m-nav-grid__icon flaticon-file"></i>
								<br>รายการสินค้า</a>
						</div>
					</div>
				</div>

				<div class="tab-pane active" id="m_tabs_6_1" role="tabpanel">
					<div class="row mt-3">
						<div class="col-md-2 text-center">
							<a routerLink="/inventory/reqpickup/new">
								<i class="m-nav-grid__icon flaticon-file"></i>
								<br>บันทึกการขอเบิก</a>
						</div>
						<div class="col-md-2 text-center">
							<a routerLink="/inventory/reqpickup">
								<i class="m-nav-grid__icon flaticon-file"></i>
								<br>รายการขอเบิก</a>
						</div>
						<div class="col-md-2 text-center">
							<a routerLink="/inventory/pickup/new">
								<i class="m-nav-grid__icon flaticon-file"></i>
								<br>บันทึกการเบิก</a>
						</div>
						<div class="col-md-2 text-center">
							<a routerLink="/inventory/pickup">
								<i class="m-nav-grid__icon flaticon-file"></i>
								<br>รายการเบิก</a>
						</div>
						<div class="col-md-2 text-center">
							<a routerLink="/inventory/approvepickup">
								<i class="m-nav-grid__icon flaticon-file"></i>
								<br>อนุมัติการเบิก</a>
						</div><div class="col-md-2 text-center">
							<a routerLink="/inventory/returnpickup">
								<i class="m-nav-grid__icon flaticon-file"></i>
								<br>รับคืนการเบิก</a>
						</div>
					</div>
				</div>

				<div class="tab-pane active" id="m_tabs_6_1" role="tabpanel">
					<div class="row mt-3">
						<div class="col-md-2 text-center">
							<a routerLink="/inventory/transfer">
								<i class="m-nav-grid__icon flaticon-file"></i>
								<br>โอนย้ายสินค้า</a>
						</div>
						<div class="col-md-2 text-center">
							<a routerLink="/inventory/productmanage/detail">
								<i class="m-nav-grid__icon flaticon-file"></i>
								<br>ปรับปรุงสินค้า</a>
						</div>
						<div class="col-md-2 text-center">
							<a routerLink="/inventory/productmanage">
								<i class="m-nav-grid__icon flaticon-file"></i>
								<br>รายการปรับปรุงสินค้า</a>
						</div>
						<div class="col-md-2 text-center">
							<a routerLink="/inventory/productleftstock/detail">
								<i class="m-nav-grid__icon flaticon-file"></i>
								<br>บันทึกสินค้าคงเหลือ</a>
						</div>
						<div class="col-md-2 text-center">
							<a routerLink="/inventory/productleftstock">
								<i class="m-nav-grid__icon flaticon-file"></i>
								<br>รายการสินค้าคงเหลือ</a>
						</div>
					</div>
				</div>

				<div class="tab-pane active" id="m_tabs_6_1" role="tabpanel">
					<div class="row mt-3">
						<div class="col-md-2 text-center">
							<a routerLink="/inventory/productinspection/new">
								<i class="m-nav-grid__icon flaticon-file"></i>
								<br>บันทึกตรวจนับสินค้า</a>
						</div>
						<div class="col-md-2 text-center">
							<a routerLink="/inventory/productinspection">
								<i class="m-nav-grid__icon flaticon-file"></i>
								<br>รายการตรวจนับสินค้า</a>
						</div>
						<div class="col-md-2 text-center">
							<a routerLink="/inventory/productinspection/detail">
								<i class="m-nav-grid__icon flaticon-file"></i>
								<br>รายละเอียดตรวจนับสินค้า</a>
						</div>
					</div>
				</div>

			</div>


		</div>
	</div>

</div>