<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				ข้อมูลลูกค้า
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Datatables
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							API
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Events
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover"
			 aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span class="m-nav__link-text">
												Activity
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												Messages
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">
												FAQ
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												Support
											</span>
										</a>
									</li>
									<li class="m-nav__separator m-nav__separator--fit"></li>
									<li class="m-nav__item">
										<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
											Submit
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__body">
			<div class="row">
				<div class="col-md-5">
					<div class="m-card-user m-card-user--lg">
						<div>
							<img src="./assets/app/media/img/users/100_11.jpg" class="m--img-rounded m--marginless mCS_img_loaded" alt="photo"> </div>
						<div class="m-card-user__details">
							<span class="m-card-user__name">กุลนิษฐ์ สุวรรณสมบูณ์</span>
							<span class="m-card-user__email">Member No. : M0000001</span>
							<br>
							<span class="m-card-user__email">ประเภทลูกค้า : King</span>
							<br>
							<span class="m-card-user__email">ระดับลูกค้า :
								<small class="m--font-warning">
									<i class="la la-star"></i>
									<i class="la la-star"></i>
									<i class="la la-star"></i>
									<i class="la la-star"></i>
									<i class="la la-star"></i>
								</small>
							</span>
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<div class="row">
						<div class="col-md-12">
							<div class="m-stack m-stack--ver m-stack--general m-stack--demo">
								<div class="m-stack__item text-center">
									<p>ใช้บริการทั้งหมด</p>
									10 ครั้ง
								</div>
								<div class="m-stack__item text-center">
									<p>รอนัดหมาย</p>
									3 รายการ
								</div>
								<div class="m-stack__item text-center">
									<p>ยอดเงินรับชำระ</p>
									35,000 ฿
								</div>
								<div class="m-stack__item text-center">
										<p>Member Card</p>
										35,000 ฿
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-3">
							<div class="col-md-6 text-center">
								ใช้บริการครั้งแรก : 10 ม.ค. 2560 (10:00 น.)
							</div>
							<div class="col-md-6 text-center">
									ใช้บริการครั้งล่าสุด : 10 ม.ค. 2561 (10:00 น.)
								</div>
					</div>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-md-12">
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#m_tabs_1_1">
								ข้อมูลส่วนตัว
							</a>
						</li>
						<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#m_tabs_1_4">
									Member Card
								</a>
							</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#m_tabs_1_2">
								จองคิวนัดหมาย
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#m_tabs_1_3">
								ประวัติการใช้บริการ
							</a>
						</li>						
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#m_tabs_1_4">
								ประวัติการชำระเงิน
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#m_tabs_1_4">
								Feedback ลูกค้า
							</a>
						</li>

					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="m_tabs_1_1" role="tabpanel">
							<div class="row">
								<div class="col-md-12">
									<fieldset>
										<legend>&nbsp;&nbsp;&nbsp;ข้อมูลลูกค้า&nbsp;&nbsp;&nbsp;</legend>
										<div class="row mt-2">
											<div class="col-md-3">
												<b>Member No.</b>
												<br>M0000001
											</div>
											<div class="col-md-3">
												<b>ชื่อ - นามสกุล</b>
												<br>กุลนิษฐ์ สุวรรณสมบูณ์
											</div>
											<div class="col-md-3">
												<b>เพศ</b>
												<br>หญิง
											</div>
											<div class="col-md-3">
												<b>ชื่อเล่น</b>
												<br>-
											</div>
										</div>
										<div class="row mt-3 mb-2">
											<div class="col-md-3">
												<b>สัญชาติ</b>
												<br>ไทย
											</div>
											<div class="col-md-3">
												<b>เชื้อชาติ</b>
												<br>ไทย
											</div>
											<div class="col-md-3">
												<b>ประเภทลูกค้า</b>
												<br>Bronze
											</div>
											<div class="col-md-3">
												<b>วัน/เดือน/ปีเกิด</b>
												<br>01 มกราคม 2535 (26 ปี)
											</div>
										</div>
									</fieldset>
								</div>
							</div>
							<div class="row mt-3">
								<div class="col-md-12">
									<fieldset>
										<legend>&nbsp;&nbsp;&nbsp;ข้อมูลติดต่อ&nbsp;&nbsp;&nbsp;</legend>
										<div class="row mt-2">
											<div class="col-md-12">
												<b>ที่อยู่</b>
												<br>710/53 ซอย สุขุมวิท 101/1 แขวง บางจาก เขต พระโขนง กรุงเทพมหานคร 10260 ประเทศไทย
											</div>
										</div>
										<div class="row mt-3">
											<div class="col-md-3">
												<b>เบอร์โทรมือถือ</b>
												<br>0945524119
											</div>
											<div class="col-md-3">
												<b>เบอร์โทรบ้าน</b>
												<br>02470291
											</div>
											<div class="col-md-3">
												<b>เบอร์โทรที่ทำงาน</b>
												<br>02627189
											</div>
											<div class="col-md-3">
												<b>E-mail</b>
												<br>kul@gmail.com
											</div>
										</div>
										<div class="row mt-3 mb-2">
											<div class="col-md-12">
												<b>ช่องทางติดต่ออื่นๆ</b>
												<br>Line ID : kul35
											</div>
										</div>
									</fieldset>
								</div>
							</div>
							<div class="row mt-3">
								<div class="col-md-12">
									<fieldset>
										<legend>&nbsp;&nbsp;&nbsp;ข้อมูลเพิ่มเติม / หมายเหตุ&nbsp;&nbsp;&nbsp;</legend>
										<div class="row mt-2">
											<div class="col-md-12">
												ลูกค้าประจำ ได้รับการแนะนำจากการบอกต่อ
											</div>
										</div>
									</fieldset>
								</div>
							</div>

						</div>
						<div class="tab-pane" id="m_tabs_1_2" role="tabpanel">
								<table class="m-datatable" id="html_table" width="100%">
										<thead>
											<tr>
												<th title="Field #1" style="width: 30px;">
													ลำดับ
												</th>
												<th title="Field #2">
													รหัสการจอง
												</th>
												<th title="Field #3">
													รายการที่จอง
												</th>
												<th title="Field #4">
													วันที่นัดหมาย
												</th>
												<th title="Field #5">
													เวลาที่นัดหมาย
												</th>
												<th title="Field #6">
													สาขาที่นัดหมาย
												</th>
												<th title="Field #7">
													ช่างที่นัดหมาย
												</th>
												<th title="Field #8">
													Order Date
												</th>
												<th title="Field #9">
													Status
												</th>
												<th title="Field #10">
													Type
												</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													1
												</td>
												<td>
													Sunny Garton
												</td>
												<td>
													(288) 1417941
												</td>
												<td>
													GMC
												</td>
												<td>
													Savana 2500
												</td>
												<td>
													Yellow
												</td>
												<td>
													$99799.94
												</td>
												<td>
													2016-03-23
												</td>
												<td>
													5
												</td>
												<td>
													2
												</td>
											</tr>
										</tbody>
									</table>
						</div>
						<div class="tab-pane" id="m_tabs_1_3" role="tabpanel">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
							text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
							book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
							unchanged
						</div>
						<div class="tab-pane" id="m_tabs_1_4" role="tabpanel">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
							text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
							book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
							unchanged. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
							standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"></div>
			</div>
		</div>
	</div>
</div>