<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				รายละเอียดใบรับคืน
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					/
				</li>
				<li class="m-nav__item">
					<a routerLink="/inventory" class="m-nav__link">
						<span class="m-nav__link-text">
							ระบบคลังสินค้า
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					/
				</li>
				<li class="m-nav__item">
					<a routerLink="/inventory/returnpickup" class="m-nav__link">
						<span class="m-nav__link-text">
							รับคืนการเบิก
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					/
				</li>
				<li class="m-nav__item">
					<span class="m-nav__link-text">
						รายละเอียดใบรับคืน
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__body">
			<div class="row">
				<div class="col-md-12">
					<fieldset>
						<legend>&nbsp;&nbsp;&nbsp;ข้อมูลใบรับคืน&nbsp;&nbsp;&nbsp;</legend>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label for="recipient-name" class="form-control-label">
										ประเภทการรับคืน
									</label>
									<select class="form-control m-select2 m_select2_1" name="param">
										<option>--เลือก--</option>
										<option>รับคืนเบิกใช้</option>
										<option>รับคืนเบิกผลิต</option>
										<option>รับคืนเบิกตัวอย่าง</option>
										<option>รับคืนเบิกเพื่อซ่อม</option>
										<option>รับคืนเบิกตัดชำรุด</option>
										<option>รับคืนเบิกยืม</option>
										<option>รับคืนเบิกเพื่อเบิกสำรอง</option>
										<option>รับคืนเบิกอื่นๆ</option>
									</select>
								</div>
							</div> 
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="recipient-name" class="form-control-label">
										รายละเอียด
									</label>
									<textarea class="form-control m-input" id="exampleTextarea" rows="3"></textarea>
								</div>
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-md-12">
								<div class="form-group">
									<label for="recipient-name" class="form-control-label">
										ผู้ขอเบิก
									</label>
									นายสมชาย กลัดเข็ม ตำแหน่ง Programmer แผนก IT
								</div>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
			<br/>
			<div class="m-form__group form-group row">
				<div class="col-lg-12 col-xs-12"> 
					<a href="#" data-toggle="modal" data-target="#m_modal_2">
						<div class="btn btn-info m-btn m-btn--icon m-btn--pill m-btn--wide pull-right" data-repeater-create="" style="margin-right:5px">
							<span>
								<i class="la la-copy"></i>
								<span>
									อ้างอิงใบเบิก
								</span>
							</span>
						</div>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<fieldset>
						<legend>&nbsp;&nbsp;&nbsp;รายการใบเบิก&nbsp;&nbsp;&nbsp;</legend>
						<div class="row mt-3">
							<div class="col-md-12">
								<div class="row" style="padding-bottom:3px">
									<div class="col-md-4">
									</div>
									<div class="col-md-6 mt-6" style="text-align:right">
										เลขที่ใบขอเบิก XXX ผู้เบิก นายสมชาย กลัดเข็ม ตำแหน่ง Programmer แผนก IT
									</div>
									<div class="col-md-2">
										<button class="btn btn-danger" type="button">
											<i class="la la-trash"></i> ถอนใบเบิกนี้
										</button>
									</div>
								</div>
								<div class="table-responsive">
									<table class="table table-bordered">
										<thead class="thead-bg">
											 <tr>
												 <td rowspan="2">รหัสสินค้า</td>
												 <td rowspan="2">ชื่อสินค้า</td>
												 <td rowspan="2">เบิกจากคลัง</td>
												 <td colspan="2">เบิกไป</td>
												 <td rowspan="2">จำนวนเบิก</td>
												 <td rowspan="2">จำนวนคืน</td>
												 <td rowspan="2">จำนวนนับ</td>
												 <td rowspan="2">ต้นทุน (บาท)</td>
												 <td rowspan="2">รวม (บาท)</td>
											 </tr>
											 <tr>
												<td>คลังสินค้า</td>
												<td>ที่เก็บ</td>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>XXX</td>
												<td>
													XXXXXXX (TH/EN) <br />
													กลุ่ม/หมวดสินค้า
												</td>
												<td>XXXX</td>
												<td>XXXXX</td>
												<td>XXX</td>
												<td>XXXXX</td>
												<td><input type="text" class="form-control" /></td>
												<td>XXXXX</td>
												<td>X,XXX,XXX</td>
												<td>X,XXX,XXX</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<hr />
						<div class="row mt-3">
							<div class="col-md-12">
								<div class="row" style="padding-bottom:3px">
									<div class="col-md-4">
									</div>
									<div class="col-md-6 mt-6" style="text-align:right">
										เลขที่ใบขอเบิก XXX ผู้เบิก นายสมชาย กลัดเข็ม ตำแหน่ง Programmer แผนก IT
									</div>
									<div class="col-md-2">
										<button class="btn btn-danger" type="button">
											<i class="la la-trash"></i> ถอนใบเบิกนี้
										</button>
									</div>
								</div>
								<div class="table-responsive">
									<table class="table table-bordered">
										<thead class="thead-bg">
											 <tr>
												 <td rowspan="2">รหัสสินค้า</td>
												 <td rowspan="2">ชื่อสินค้า</td>
												 <td rowspan="2">เบิกจากคลัง</td>
												 <td colspan="2">เบิกไป</td>
												 <td rowspan="2">จำนวนเบิก</td>
												 <td rowspan="2">จำนวนคืน</td>
												 <td rowspan="2">จำนวนนับ</td>
												 <td rowspan="2">ต้นทุน (บาท)</td>
												 <td rowspan="2">รวม (บาท)</td>
											 </tr>
											 <tr>
												<td>คลังสินค้า</td>
												<td>ที่เก็บ</td>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>XXX</td>
												<td>
													XXXXXXX (TH/EN) <br />
													กลุ่ม/หมวดสินค้า
												</td>
												<td>XXXX</td>
												<td>XXXXX</td>
												<td>XXX</td>
												<td>XXXXX</td>
												<td><input type="text" class="form-control" /></td>
												<td>XXXXX</td>
												<td>X,XXX,XXX</td>
												<td>X,XXX,XXX</td>
											</tr>
											<tr>
												<td>XXX</td>
												<td>
													XXXXXXX (TH/EN) <br />
													S/N XXXXXXXXXXX <br />
													กลุ่ม/หมวดสินค้า
												</td>
												<td>XXXX</td>
												<td>XXXXX</td>
												<td>XXX</td>
												<td>XXXXX</td>
												<td><input type="text" class="form-control" /></td>
												<td>XXXXX</td>
												<td>X,XXX,XXX</td>
												<td>X,XXX,XXX</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>  

						<hr />
						<br />
						<div class="row">
							<div class="col-md-12">
								<button class="btn btn-success pull-right" type="button">
									บันทึกใบรับคืนสินค้า
								</button>
							</div>
						</div>
						<!--begin::Modal-->
						<div class="modal fade" id="m_modal_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-llg" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">
											<i class="la la-copy"></i> คัดลอกรายการสินค้าจากใบเบิก
										</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">
												&times;
											</span>
										</button>
									</div>
									<div class="modal-body">
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label for="recipient-name" class="form-control-label">
														คำค้น/เลขที่เอกสาร
													</label>
													<select class="form-control" name="param">
														<option>
															-- ทั้งหมด --
														</option>
													</select>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label for="recipient-name" class="form-control-label">
														ช่วงวันที่เอกสาร
													</label>
													<div class="input-daterange input-group" id="m_datepicker_5">
														<input class="form-control m-input" name="start" id="datestart" type="text">
														<div class="input-group-append">
															<span class="input-group-text">
																ถึง
															</span>
														</div>
														<input class="form-control" name="end" type="text" id="dateend">
													</div>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label for="recipient-name" class="form-control-label">
														ประเภทการเบิก
													</label>
													<select class="form-control" name="parsam">
														<option value="">-- ทั้งหมด --</option>
														<option value="">ขอเบิกใช้</option>
														<option value="">ขอเบิกผลิต</option>
														<option value="">ขอเบิกตัวอย่าง</option>
														<option value="">ขอเบิกเพื่อซ่อม</option>
														<option value="">ขอเบิกตัดชำรุด</option>
														<option value="">ขอเบิกยืม</option>
														<option value="">ขอเบิกเพื่อสำรอง</option>
														<option value="">ขอเบิกอื่นๆ</option>
													</select>
												</div>
											</div> 
										</div>
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label for="recipient-name" class="form-control-label">
														ผู้ขอเบิก
													</label>
													<select class="form-control" name="param">
														<option>
															-- ทั้งหมด --
														</option>
													</select>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label for="recipient-name" class="form-control-label">
														หน่วยงานที่เบิก
													</label>
													<select class="form-control" name="param">
														<option>
															-- ทั้งหมด --
														</option>
													</select>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label for="recipient-name" class="form-control-label">
														สาขา/บริษัท
													</label>
													<select class="form-control" name="param">
														<option>
															-- ทั้งหมด --
														</option>
													</select>
												</div>
											</div> 
										</div> 
										<div class="row">
											<div class="col-md-12 text-center">
												<button class="btn btn-info" type="button">
													<i class="la la-search"></i> ค้นหา
												</button>
											</div>
										</div>
										<hr />
										<!--begin: Datatable -->
										<table class="m-datatable-modal2" width="100%" id="html_table_2">
											<thead class="thead-bg">
												<tr>
													<th class="text-center">
														<label class="m-checkbox  m-checkbox--success">
															<input type="checkbox">
															<span></span>
														</label>
													</th>
													<th class="text-center">
														รหัสเอกสาร
													</th>
													<th class="text-center">
														วันที่เอกสาร
													</th>
													<th class="text-center">
														ประเภทการเบิก
													</th>
													<th class="text-center">
														ผู้ขอเบิก
													</th>
													<th class="text-center">
														ต้นทุนเบิก(บาท)
													</th>
													<th class="text-center">
														หมายเหตุ
													</th>
													<th class="text-center">
														สถานะอนุมัติ
													</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="text-center">
														<label class="m-checkbox m-checkbox--solid m-checkbox--success">
															<input type="checkbox">
															<span></span>
														</label>
													</td>
													<td>XX-XXXX-XXXX</td>
													<td>XXXXXXXX</td>
													<td>
														นายพิสิษฐ์ งามการ
														<br/> it support
														<br/> it handywing co.,Ltd
													</td>
													<td>XX,XXX</td>
													<td>XXXXXXXXXXXXXXXXXXXX</td>
													<td>
														XXXXXX
													</td>
													<td>
														XXXXXX
													</td>
												</tr>

												<tr>
													<td class="text-center">
														<label class="m-checkbox m-checkbox--solid m-checkbox--success">
															<input type="checkbox">
															<span></span>
														</label>
													</td>
													<td>XX-XXXX-XXXX</td>
													<td>XXXXXXXX</td>
													<td>
														นายธเนศ ล้อมเขื่อน
														<br/> it support
														<br/> it handywing co.,Ltd
													</td>
													<td>XX,XXX</td>
													<td>XXXXXXXXXXXXXXXXXXXX</td>
													<td>
														XXXXXX
													</td>
													<td>
														XXXXXX
													</td>
												</tr>

												<tr>
													<td class="text-center">
														<label class="m-checkbox m-checkbox--solid m-checkbox--success">
															<input type="checkbox">
															<span></span>
														</label>
													</td>
													<td>XX-XXXX-XXXX</td>
													<td>XXXXXXXX</td>
													<td>
														นายธนารัตน์ สุวรรณนันท์
														<br/> it support
														<br/> it handywing co.,Ltd
													</td>
													<td>XX,XXX</td>
													<td>XXXXXXXXXXXXXXXXXXXX</td>
													<td>
														XXXXXX
													</td>
													<td>
														XXXXXX
													</td>
												</tr>
											</tbody>
										</table>
										<!--end: Datatable -->
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-primary" data-dismiss="modal">
											บันทึกการเลือกเอกสาร
										</button>
										<button type="button" class="btn btn-secondary" data-dismiss="modal">
											ปิด
										</button>
									</div>
								</div>
							</div>
						</div>
						<!--end::Modal-->

					</fieldset>
				</div>
			</div>
		</div>
	</div>
</div>