<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				บันทึกตรวจนับสินค้า
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					/
				</li>
				<li class="m-nav__item">
					<a routerLink="/inventory" class="m-nav__link">
						<span class="m-nav__link-text">
							ระบบคลังสินค้า
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					/
				</li>
				<li class="m-nav__item">
					<span class="m-nav__link-text">
							บันทึกตรวจนับสินค้า
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						ค้นหารายการเบิก
					</h3>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">
			<div class="row">
				<div class="col-md-1">
					วันที่เอกสาร
				</div>
				<div class="col-md-2">
					XXXXXXXXXXXXXXX
				</div>
				<div class="col-md-1">
					วันที่ตรวจนับ
				</div>
				<div class="col-md-2">
					<input class="form-control" name="end" type="text" id="dateend">
				</div>
				<div class="col-md-1">
					หมายเหตุ
				</div>
				<div class="col-md-5">
					<input class="form-control" type="text">
				</div> 
			</div>
			<div class="row mt-3">
					<div class="col-md-12">
						<div class="form-group">
							<label for="recipient-name" class="form-control-label">
									ผู้ตรวจนับสินค้า
							</label>
							นายสมชาย กลัดเข็ม ตำแหน่ง Programmer แผนก IT
						</div>
					</div>
				</div>
			<hr />
			<br />
			<div class="row">
				<div class="col-md-3">
				<label class="m-radio">
					<input name="example_1" type="radio" value="1"> เปิดใช้การสแกน Barcode หรือ QRCode
					<span></span>
				</label>
				</div>
				<div class="col-md-4">
					<input type="text" class="form-control" />
				</div>
				<div class="col-md-2">
					<button class="btn btn-info" type="button">
						<i class="la la-search"></i> ค้นหา
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
						<label class="m-radio">
							<input name="example_1" type="radio" value="2"> เปิดการค้นหารายการสินค้า
							<span></span>
						</label>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					Multi select คลังสินค้าและที่จัดเก็บ
				</div>
				<div class="col-md-3">
					Multi select กลุ่ม/หมวดสินค้า
				</div>
				<div class="col-md-3">
					Multi select ยี่ห้อ/รุ่นสินค้า
				</div>
				<div class="col-md-3">
					Multi select สถานะสินค้า
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<button class="btn btn-info" type="button">
						<i class="la la-search"></i> ค้นหารายการเอกสารตามเงื่อนไข
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						รายการสินค้า
					</h3>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">
				<div class="row">
						<div class="table-responsive">
			<!--begin: Datatable -->
			<table width="100%" class="table table-bordered">
					<thead class="thead-bg">
						<tr>
							<td rowspan="2">รหัสสินค้า</td>
							<td rowspan="2">ชื่อสินค้า</td>
							<td colspan="2">บันทึก</td>
							<td rowspan="2">ยอดตรวจนับ</td>
							<td rowspan="2">หมายเหตุ</td>
							<td rowspan="2"></td>
						</tr>
						<tr>
							<td>คลังสินค้า</td>
							<td>ที่เก็บ</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>XXXX</td>
							<td>
									XXXXXXXX (TH/EN)<br />
									S/N XXXXXXXXXXX<br />
									กลุ่ม/หมวดสินค้า
							</td>
							<td>
								<select class="form-control" name="param">
									<option>
										-- เลือก --
									</option>
								</select>
							</td>
							<td>
								<select class="form-control" name="param">
									<option>
										-- เลือก --
									</option>
								</select>
							</td>
							<td>
								<table>
									<tr>
										<td style="border:0px"><input class="form-control" type="text" /></td>
										<td style="border:0px">ลัง</td>
									</tr>
									<tr>
										<td style="border:0px"><input class="form-control" type="text" /></td>
										<td style="border:0px">กล่อง</td>
									</tr>
									<tr>
										<td style="border:0px"><input class="form-control" type="text" /></td>
										<td style="border:0px">ขวด</td>
									</tr>
								</table> 
							</td>
							<td>
									<input class="form-control" type="text" />
							</td>
							<td>
								<a class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Edit details">
									<i class="la la-trash"></i>
								</a>
							</td>
						</tr>

						<tr>
								<td>XXXX</td>
								<td>
										XXXXXXXX (TH/EN)<br />
										S/N XXXXXXXXXXX<br />
										กลุ่ม/หมวดสินค้า
								</td>
								<td>
									<select class="form-control" name="param">
										<option>
											-- เลือก --
										</option>
									</select>
								</td>
								<td>
									<select class="form-control" name="param">
										<option>
											-- เลือก --
										</option>
									</select>
								</td>
								<td>
									<table>
										<tr>
											<td style="border:0px">
												<input class="form-control" type="text" />
											</td>
											<td style="border:0px">ขวด</td>
										</tr>
										<tr>
											<td style="border:0px">
												<input class="form-control" type="text" />
											</td>
											<td style="border:0px">ถุง</td>
										</tr>
									</table>
								</td>
								<td>
										<input class="form-control" type="text" />
								</td>
								<td>
									<a class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Edit details">
										<i class="la la-trash"></i>
									</a>
								</td>
							</tr>
					</tbody>
				</table>
				</div>
				</div>
				<!--end: Datatable -->
				<br />
				<hr />
				<div class="row">
					<div class="col-md-1">
					</div>
					<div class="col-md-3">
						<button class="btn btn-info pull-right" type="button">
							บันทึกข้อมูลแบบร่าง
						</button>
					</div>
					<div class="col-md-3" style="text-align:center">
						<button class="btn btn-success" type="button">
							บันทึกข้อมูลเพื่อส่งอนุมัติ
						</button>
					</div>
					<div class="col-md-3">
						<button class="btn btn-danger pull-left" type="button">
							ยกเลิก
						</button>
					</div>
					<div class="col-md-2">
					</div>
				</div>
		</div>
	</div>
</div>