<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				รายละเอียดรูปแบบตำแหน่งจัดเก็บ
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					/
				</li>
				<li class="m-nav__item">
					<a routerLink="/setup" class="m-nav__link">
						<span class="m-nav__link-text">
							ค่าเริ่มต้น
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					/
				</li>
				<li class="m-nav__item">
					<a routerLink="/setup/inventory" class="m-nav__link">
						<span class="m-nav__link-text">
							Inventory
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					/
				</li>
				<li class="m-nav__item">
					<a routerLink="/setup/inventory/storage" class="m-nav__link">
						<span class="m-nav__link-text">
							รูปแบบตำแหน่งจัดเก็บ
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					/
				</li>
				<li class="m-nav__item">
					<span class="m-nav__link-text">
						รายละเอียดรูปแบบตำแหน่งจัดเก็บ
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="m-portlet">
				<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
					<div class="m-portlet__body">
						<div class="form-group m-form__group row">
							<div class="col-md-12">
								<fieldset>
									<legend>&nbsp;&nbsp;&nbsp;ข้อมูลรูปแบบจัดเก็บ&nbsp;&nbsp;&nbsp;</legend>
									<div class="row mt-2">
										<div class="col-md-4">
											<div class="form-group">
												<label for="recipient-name" class="form-control-label">
													รหัสรูปแบบจัดเก็บ
												</label>
												<br> ST-0000001
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label for="recipient-name" class="form-control-label">
													ชื่อรูปแบบจัดเก็บ
												</label>
												<br> xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label for="recipient-name" class="form-control-label">
													ชื่อรูปแบบจัดเก็บ (Eng)
												</label>
												<br> xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label for="message-text" class="form-control-label">
													รายละเอียด :
												</label>
												<br> xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
											</div>
										</div>
									</div>
								</fieldset>
							</div>
						</div>
						<div class="form-group m-form__group row">
							<div class="col-md-6">
								<fieldset>
									<legend>&nbsp;&nbsp;&nbsp;โครงสร้างตำแหน่งจัดเก็บ&nbsp;&nbsp;&nbsp;</legend>
									<div class="row mt-2">
										<div class="col-md-12 mt-2">
											<div class="m-scrollable" data-scrollbar-shown="true" data-axis="xy" data-scrollable="true" data-max-height="400">
												<div id="m_tree_5" class="tree-demo"></div>
											</div>
										</div>
									</div>
								</fieldset>
							</div>
							<div class="col-md-6">
								<fieldset>
									<legend>&nbsp;&nbsp;&nbsp;จัดการข้อมูลตำแหน่งจัดเก็บ&nbsp;&nbsp;&nbsp;</legend>
									<div class="row mt-2">
										<div class="col-md-12">
											<div class="form-group">
												<label for="recipient-name" class="form-control-label">
													รหัสตำแหน่งจัดเก็บ
												</label>
												<br> P-000001
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label for="recipient-name" class="form-control-label">
													ชื่อตำแหน่งจัดเก็บ
												</label>
												<br> xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label for="recipient-name" class="form-control-label">
													ชื่อตำแหน่งจัดเก็บ (Eng)
												</label>
												<br> xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label for="message-text" class="form-control-label">
													รายละเอียด :
												</label>
												<br> xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label for="recipient-name" class="form-control-label">
													ภายใต้ตำแหน่งจัดเก็บ :
												</label>
												<br> Zone A > TABLE 002 > BOX 02

											</div>
										</div>
									</div>
								</fieldset>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>