<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				ตั้งค่าเริ่มต้น
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					/
				</li>
				<li class="m-nav__item">
					<span class="m-nav__link-text">
						ตั้งค่าเริ่มต้น
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__body">
			<div class="row">
				<div class="col-md-12"><h4 class="text-center">ตั้งค่าเริ่มต้นระบบ</h4></div>
			</div>
			<div class="m-nav-grid m-nav-grid--skin-light">
				<div class="m-nav-grid__row">
					<a routerLink="organization" class="m-nav-grid__item">
						<i class="m-nav-grid__icon flaticon-file"></i>
						<span class="m-nav-grid__text">
							Organization
						</span>
					</a>
					<a routerLink="hr" class="m-nav-grid__item">
						<i class="m-nav-grid__icon flaticon-time"></i>
						<span class="m-nav-grid__text">
							HR
						</span>
					</a>
					<a href="#" class="m-nav-grid__item">
						<i class="m-nav-grid__icon flaticon-file"></i>
						<span class="m-nav-grid__text">
							CRM
						</span>
					</a>
					<a routerLink="system" class="m-nav-grid__item">
						<i class="m-nav-grid__icon flaticon-time"></i>
						<span class="m-nav-grid__text">
							System
						</span>
					</a>
					<a  routerLink="inventory" class="m-nav-grid__item">
						<i class="m-nav-grid__icon flaticon-file"></i>
						<span class="m-nav-grid__text">
							Inventory
						</span>
					</a>
					<a href="#" class="m-nav-grid__item">
						<i class="m-nav-grid__icon flaticon-time"></i>
						<span class="m-nav-grid__text">
							Add New Event
						</span>
					</a>
				</div>
				<div class="m-nav-grid__row">
					<a href="#" class="m-nav-grid__item">
						<i class="m-nav-grid__icon flaticon-folder"></i>
						<span class="m-nav-grid__text">
							Create New Task
						</span>
					</a>
					<a href="#" class="m-nav-grid__item">
						<i class="m-nav-grid__icon flaticon-clipboard"></i>
						<span class="m-nav-grid__text">
							Completed Tasks
						</span>
					</a>
					<a routerLink="purchase" class="m-nav-grid__item">
						<i class="m-nav-grid__icon flaticon-time"></i>
						<span class="m-nav-grid__text">
							Purchase
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>


</div>