<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				ระบบบริหารทรัพยากรบุคคล
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					/
				</li>
				<li class="m-nav__item">
					<span class="m-nav__link-text">
						ระบบบริหารทรัพยากรบุคคล
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__body">
			<div class="tab-content">
				<div class="tab-pane active" id="m_tabs_6_1" role="tabpanel">
					<div class="row mt-3">
						<div class="col-md-12">
							<b>บุคลากร</b>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-md-2 text-center">
							<a routerLink="personnel/personnel">
								<i class="m-nav-grid__icon flaticon-file"></i>
								<br>ข้อมูลพนักงาน</a>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-md-12">
							<b>สวัสดิการ</b>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-md-2 text-center">
							<a routerLink="welfare/member">
								<i class="m-nav-grid__icon flaticon-file"></i>
								<br>ข้อมูลสมาชิก</a>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-md-12">
							<b>การลา</b>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-md-2 text-center">
							<a routerLink="leave/request/new">
								<i class="m-nav-grid__icon flaticon-file"></i>
								<br>ยื่นคำร้องอนุมัติลางาน</a>
						</div>
						<div class="col-md-2 text-center">
							<a routerLink="leave/request/new">
								<i class="m-nav-grid__icon flaticon-file"></i>
								<br>รายการคำร้องอนุมัติลางาน</a>
						</div>
						<div class="col-md-2 text-center">
							<a routerLink="leave/calendar">
								<i class="m-nav-grid__icon flaticon-file"></i>
								<br>ปฏิทินลางาน</a>
						</div>
						<div class="col-md-2 text-center">
							<a routerLink="leave/approve">
								<i class="m-nav-grid__icon flaticon-file"></i>
								<br>อนุมัติการลาพนักงาน</a>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>

</div>