<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				ตั้งค่าระบบงานจัดซื้อ
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					/
				</li>
				<li class="m-nav__item">
					<a routerLink="/setup" class="m-nav__link">
						<span class="m-nav__link-text">
							ตั้งค่าเริ่มต้น
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					/
				</li>
				<li class="m-nav__item">
					<span class="m-nav__link-text">
						Purchase
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__body">
			<div class="tab-content">
				<div class="row mt-3">
					<div class="col-md-2 text-center">
						<a routerLink="reasonproductreturn">
							<i class="m-nav-grid__icon flaticon-file"></i>
							<br>สาเหตุการคืนสินค้า</a>
					</div>
					<div class="col-md-2 text-center">
						<a routerLink="sellergroup">
							<i class="m-nav-grid__icon flaticon-file"></i>
							<br>กลุ่มผู้ขาย</a>
					</div>
					<div class="col-md-2 text-center">
						<a routerLink="purchasingofficer">
							<i class="m-nav-grid__icon flaticon-file"></i>
							<br>ข้อมูลพนักงานสั่งซื้อพร้อมกำหนดวงเงิน</a>
					</div>
					<div class="col-md-2 text-center">
						<a routerLink="vendorlist">
							<i class="m-nav-grid__icon flaticon-file"></i>
							<br>รายการผู้ขาย</a>
					</div>
					<div class="col-md-2 text-center">
						<a routerLink="d">
							<i class="m-nav-grid__icon flaticon-file"></i>
							<br>d</a>
					</div>
					<div class="col-md-2 text-center">
						<a routerLink="e">
							<i class="m-nav-grid__icon flaticon-file"></i>
							<br>e</a>
					</div>
				</div>
			</div>


		</div>
	</div>

</div>